* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(abstract-envelope.png);
    background-position: center;
    background-size: 20%;
}

header {
    background-color: #fff;
    text-shadow: 5px 5px 2px #000;
    text-align: center;
    border-radius: 2px;
    border-bottom: solid 5px #0075FF;
}

main {
    margin-top: 3%;
    margin-left: 10%;

}

footer {
    font-family: 'Bebas Neue', sans-serif;
    margin-top: 100%;
    text-align: center;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #fff;
    border-top: solid 5px #0075FF;

}

article {
    text-align: center;
    margin-top: 6%;
}

.border {
    border-radius: 50px;
}

.car {
    border-radius: 50px;
    border: solid 10px #0075FF;
}

.sobre {
    margin-left: 160%;
    border-radius: 50px;
    border: solid 10px #0075FF;
}

.qr {
    border: solid 10px #0075FF;
    border-radius: 20px;
}

.bebas {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 2px #26a9e0, 3px 3px 2px #000;
    background-color: #0075FF;
    margin-bottom: 1%;
    margin-right: 31.5%;
    margin-left: 31.5%;
    border-radius: 20px;
}

.bebas-2 {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    color: #fff;
    font-size: 2em;
    text-shadow: 2px 2px 2px #26a9e0, 3px 3px 2px #000;
    background-color: #0075FF;
    margin-top: 1%;
    margin-right: 31.5%;
    margin-left: 31.5%;
    border-radius: 20px;
}